<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736092297237-85t3g1j0r3inu5lo72ui3q1i4t41kr4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736092297237-85t3g1j0r3inu5lo72ui3q1i4t41kr4g</string>
	<key>API_KEY</key>
	<string>AIzaSyACqpmmxPltplhFYumTj7idDxHyNaeZHVw</string>
	<key>GCM_SENDER_ID</key>
	<string>736092297237</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>milesBroomfield.com.List</string>
	<key>PROJECT_ID</key>
	<string>the-list-1dae9</string>
	<key>STORAGE_BUCKET</key>
	<string>the-list-1dae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736092297237:ios:8ec249344c58996d6e961c</string>
</dict>
</plist>